:root {
  font-size: 62.5%;
  // font-size: 40px;

  //Colors
  --primary: #00b050;
  --white: #ffffff;
  --gray10: #b3b3b3;
  --gray20: #737373;
  --gray30: #282828;
  --gray40: #181818;
  --gray50: #121212;
  --gray60: #000000;
  --body-bg: #ecf0f3;

  //Card
  --card-bg: #fff;
  --title-color: #273b49;
  --text-color: #687782;


  //Fonts
  --heading-font: sans-serif;
  --body-font: Avenir, Helvetica, sans-serif;

  --head-line-1: bold 3.2rem/normal var(--heading-font);
  --head-line-2: bold 2.4rem/2.8rem var(--heading-font);
  --base-font: normal 1.5rem/2.2rem var(--body-font);
  --base-font-bold: bold 1.5rem/2.2rem var(--body-font);
  --button: bold 1.5rem/1.6rem var(--body-font);
  --small: normal 0.75em/normal var(--body-font);

  --heading-line-height: 1.3;
  --body-line-height: 1.5;

  //Header
  --header-height: 5rem;
  --header-margin: 2rem;

  //Layout
  --columns: 1;
  --show-element: none;
}

@media (min-width: 1024px) {
  :root {
    --head-line-1: bold 3.6rem/normal var(--heading-font);
    --head-line-2: bold 2.8rem/2.8rem var(--heading-font);
    --base-font: normal 1.6rem/2.2rem var(--body-font);
    --base-font-bold: bold 1.6rem/2.2rem var(--body-font);
  }
}

@media (min-width: 1024px) {
  :root {
    //Header
    --header-height: 7rem;
    --header-margin: 3rem;

    //Layout
    --columns: 4;
    --show-element: block;
  }
}
