.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  // position: sticky;
  // top: 0;
  // backdrop-filter: blur(5px);
  background-color: orangered;
  z-index: 100;
}

@supports not(backdrop-filter: blur(5px)) {
  .header {
    background-color: orangered;
  }
}


.main-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-left:2.4rem;
  // padding-right:2.4rem;
  // padding-top: 1.6rem;
  // padding-bottom: 1.6rem;
  height: var(--header-height);
}
