.products {


  &__content {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
  }

  &__grid {
    grid-column-start: span 3;
    border: 1px solid red;
  }

  &__aside {
    background-color: orangered;
    padding: 2rem;
    color: white;

  }

  &__paragraph {
    display: var(--show-element);
  }
}
